
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #f8f0e3;
}

/*/ Header starts here, the nav bar is included with the header /*/

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bea4938e;
    color: whitesmoke;
}

 a {
    color: whitesmoke;
    font:bold;
    font-size: 25px;
    
}

.nav-list {
    list-style: none;
    margin-right: 20px;
}

.nav-list li {
    display:inline;
    padding: 0px 20px;
}

.nav-list li a {
    transition: all 0.3s ease 0s;
}
 
.nav-list li a:hover{
    transition: all 0.3s ease 0s;
    color:brown;
}
 
/*/ header ends here /*/


/*/ project scetion starts here /*/

.project-section {
    width:1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: whitesmoke;
    font-weight: bold;
}

.project-section .box {
    position: relative;
    width: 100%;
    background:#6f4e37;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}

img {
    border: black 5px solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.run-buddy{
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.run-buddy:hover{
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

.about-section {
    width:1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-section {
    width:1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
}

.contact-links{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    list-style-type: none;
}

.contact-links li a:hover{
    transition: all 0.3s ease 0s;
    color:brown;
}
